{% extends 'auth/base_auth.html' %}

{% block title %}Set New Password{% endblock %}

{% block content %}
    <h2>Set a New Password</h2>
    <p>Enter your new password below.</p>
    <form method="POST">
        {% csrf_token %}
        <input type="password" id="new_password1" name="new_password1" placeholder="New Password" class="input-field" required>
        <div id="password-strength-status"></div> <!-- Indikator kekuatan password -->

        <input type="password" id="new_password2" name="new_password2" placeholder="Confirm Password" class="input-field" required>
        <button type="submit" class="btn">Change Password</button>
    </form>
{% endblock %}
